@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$corTexto: #5f5f5f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: $corTexto;
}

.home-page {
  background-image: url(../img/parede2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $corTexto;
  height: 100vh;
}

.navbar {
  position: absolute;
  display: flex;
  width: 90%;
  height: 37px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-between;
  // align-items: center;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.748);
  padding: 0;
}

.brand-title {
  img {
    width: 168px;
    margin-top: -77px;
  }
}

.navbar-links {
  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $corTexto;

        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
          color: whitesmoke;
        }
      }
    }
  }
}

.home-conteudo{
  position: absolute;
  margin-top: 40px;
}

.toggle-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 4px;
    width: 100%;
    background-color: $corTexto;
    border-radius: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-links {
    ul {
      display: flex;
      flex-direction: row;
    }
  }

  .toggle-button {
    display: none;
  }

  .brand-title {
    img {
     
      margin-top: -14px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
