@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$corTexto: #5f5f5f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: $corTexto;
}

.home-page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/parede2.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: absolute;
  display: flex;
  width: 90%;
  height: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border: 2px solid $corTexto;
  border-radius: 65px;

  img {
    width: 200px;
  }
}

.nav-links {
  list-style: none;
  display: none;
  margin-bottom: 0px;

  li {
    display: inline-block;
    padding: 0px 5px;

    a {
      transition: all 0.3s ease 0s;
      text-decoration: none;
      color: #5f5f5f;

      &:hover {
        color: whitesmoke;
      }
    }
  }
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  &:hover {
    .bar {
      background-color: white;
    }
  }
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: $corTexto;
  border-radius: 10px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
  .toggle-button {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-links {
    li {
      padding: 0px 20px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
